/*navBar styles */
.navContainer {
  grid-row: 1;
}
.navBar {
  display: flex;
  flex-direction: row;
  background-color: #eceef0;
  justify-content: space-between;
  align-items: center;
  width: 96vw;
}

.navBar a {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 20px;
  /* or 100% */

  letter-spacing: 2px;
  text-transform: capitalize;
}
ul {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0%;
}
.navBar li {
  list-style: none;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 18px;
}
a:visited {
  color: #000000;
}
a:hover {
  color: blue;
}

/*contactBar styles */
.contactBar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.socialMedia {
  justify-content: space-around;
  display: flex;
  width: 15%;
}
Button {
  display: none !important;
  background-color: #5a84bb !important;
}
@media only screen and (max-width: 768px) {
  .contactBar {
    justify-content: space-around;
  }
  Button {
    display: block !important;
  }
  ul {
    display: none;
  }

  .socialMedia {
    gap: 3%;
    margin-left: 3%;
  }
}

.contactBar a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 2px;
  text-decoration-line: none;
  text-transform: uppercase;
  color: #837c7c;
}
select {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border: 0px;
  outline: 0px;
  background-color: #e5e5e5;
  color: #837c7c;
}
.vl {
  border-left: 2px solid #837c7c;
  height: 100%;
  margin: 2px;
}
.contact {
  display: flex;
  align-items: center;
}
